main{
    /* background-image: url(../images/); */
    background-color: #D5CFBD53;
    height: 80vh;
    display: flex;
    justify-content: right;
    width: 100%;
}
.aside-main{
    display: flex;
    margin-right: 7%;
    align-self: center;
    background-color: var(--main);
    height: 350px;
    width: 560px;
    justify-content: center;
    align-items: center;
}
.button-main{
    display: flex;
    background-color: var(--softbrown);
    width: 240px;
    height: 80px;
    align-items: center;
    justify-content: center;
}
.button-main a{
    justify-self: center;
}