.sobre{
    background-color: #D5CFBDAF;
    display: flexbox;
    width: 100%;
    height: 940px;
    justify-content: center;
}
.sobre-clinica{
    justify-self: center;
    align-content: start;
    margin-top: 80px;
}
.img-sobre{
    align-self: center;
    display: flex;
    width: 86%;
    margin-top: 70px;
    justify-self: center;
    height: 800px;
    background-color: #D5CFBDD0;
}
.img-sobre aside{
    display: flex;
    justify-items: right;
    align-items: center;
}