.contato{
    padding: 60px;
}

.contato-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.contato h2{
    font-size: 40px;
    color: #6EB7A9;
    padding: 10px;
}

.contato p{
    padding: 10px;
}

.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}