.especialidades{
    display: flex;
    justify-content:center ;
    align-items: center;

}
.especialidades img {
    margin: 170px;
    height: 700px;
}

.especialidades h1{
    margin: 97 ;
    color:#6EB7A9 ;
    flex-direction: column;
    padding:1px ;
}

.especialidades h3{
    padding: 1px;
}

.especialidades li{
    padding: 5px;
    background-color: #D5CFBD;
    margin-bottom: 10px;
}
