

/* AIDA Interesse */
.hero {
  position: relative;
  height: 500px; /* ou o tamanho que quiser */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-light);
  text-align: center;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(0.5); /* ou blur(2px), grayscale(1) etc */
  z-index: 0;
}

.hero .container {
  position: relative;
  z-index: 1;
}

/* Dra Alessandra */

/* Sobre Nos */

/* Nossa Estrutura */







/* Contato  */
.contato {
    background-color: var(--white);
    padding: 4rem 2rem;
  }

  .contato h2 {
    color: var(--green);
    margin-bottom: 2rem;
    text-align: center;
  }


  


  
  .contato-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
  }
  
  .contato .info {
    flex: 1;
    min-width: 280px;
  }
  
  .contato .mapa {
    flex: 1;
    min-width: 280px;
  }
  
  .contato .mapa img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .contato .social-icons {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
  }
  