:root{
    --green: #6EB7A9;
    --doricWihte: #D5CFBD;
    --sand: #ADA694;
    --white: #eee;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}