.sobre{
    display:flex;
    justify-content: center;
    margin: 170px;
    gap: 50px;

}

.sobre h2{
    color: #6EB7A9;
    font-size: 30px;
}

.sobre p{
    padding: 10px;
    text-align: center;
    text-align: justify;
}