
.sobre{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre img{
    height: 500px;
    margin-right: px;
}


.sobre h2{
    color: #6EB7A9;
    padding: px;
    margin: 170px;
}


.sobre p{
    margin: 0;
    font-size: 15px;
}