@media (min-width: 758px) and (max-width: 1390px) {
    header {
        display: flex;
        width: 100%;
        height: 100px;
        padding: 0px 2rem;
        justify-content: space-between;
        align-items: center;
        background-color: var(--green);
    }

    .logo {
        width: 25%;
        max-width: 280px;
        max-height: 80%;
        height: auto;
    }

    header a {
        color: var(--text-light);
        font-size: .8rem;
    }

    header nav {
        display: flex;
        width: 40%;
        height: auto;
        gap: 5%;
        justify-content: space-between;
        align-items: center;
    }

    header.rolar {
        background-color: #77b4a8;
        padding: 0px 2rem;
        height: 60px;
    }

    header.rolar .logo {
        width: 25%;
        max-width: 190px;
    }

    header.rolar #div-navbar-buttons {
        width: 21%;
        max-width: 190px;
        /* justify-content: space-between; */
        transition: .5s;
    }

    #div-navbar-buttons {
        display: flex;
        width: 25%;
        height: auto;
        max-width: 280px;
        gap: 20%;
        justify-content: end;
        align-items: center;
        transition: .5s;
    }

    #div-navbar-buttons img {
        width: 75%;
        transition: .5s;
    }

    #hero {
        height: 97vh;
        background-image: url(../../images/bg-main-1.JPG);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #opacity {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        background-color: #00000066;
    }

    #hero-aside {
        display: none;
        gap: 20px;
        width: 50%;
        max-width: 100%;
        margin: 200px 0px 200px 100px;
    }

    #hero-section {
        display: grid;
        width: 80%;
        gap: 20px;
        margin: 10rem 0rem 8rem 0rem;
    }

    #hero-section h1,
    p,
    a {
        color: var(--text-light);
    }

    #hero-section h1 {
        font-size: var(--title-size);
        font-weight: bold;
    }

    #hero-section p {
        font-size: 30px;
    }

    #hero-section a {
        display: flex;
        width: 600px;
        height: 90px;
        font-size: 30px;
        justify-self: center;
        justify-content: center;
        align-items: center;
        background-color: var(--green);
        border-radius: 10px;
    }

    #tratamentos {
        display: block;
        width: 100%;
        background-color: #d9d9d920;
        justify-content: center;
        padding: 2rem;
    }

    #tratamentos-aside {
        display: block;
        width: 100%;
        text-align: center;
        /* justify-content: center; */
        /* align-items: center; */
    }

    #tratamentos-aside h1 {
        width: 100%;
        font-size: var(--title-size);
        color: var(--green);
    }

    #tratamentos-aside h2 {
        font-size: 25px;
        font-weight: normal;
        text-justify: distribute;
        color: black;
    }

    #tratamentos-aside ul {
        display: block;
        list-style: none;
        width: 100%;
        text-align: center;
        /* word-wrap: normal; */
        /* text-justify: distribute; */
        font-size: 20px;
    }

    .tratamentos-span {
        font-weight: bold;
        font-size: 20px;
    }

    #tratamentos-images {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    #tratamentos-images img {
        width: 140px;
        margin: auto;
        padding: auto;
        height: auto;
    }

    .tratamentos-images-center {
        display: flex;
        width: 600px;
        max-width: 100%;
        gap: 20px;
        justify-content: center;
    }

    .tratamentos-photos {
        margin: 20px;
        border-radius: 50px;
    }

    #dra-alessandra {
        display: flex;
        width: 100%;
        gap: 2rem;
        padding: 1rem;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        background-color: var(--doricWhite);
    }

    #dra-alessandra-image {
        width: 50%;
        height: auto;
        border-radius: 20px;
    }

    #dra-alessandra-aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #dra-alessandra-aside h1 {
        font-size: var(--title-size);
        color: var(--green);
    }

    #dra-alessandra-aside h2 {
        font-size: 25px;
        font-weight: normal;
    }

    #list {
        display: grid;
        list-style: none;
        gap: 10px;
    }

    #list li {
        padding: 10px;
        display: flex;
        gap: 20px;
        width: 100%;
        font-size: 15px;
        justify-content: left;
        align-items: center;
        padding-right: 0px;
        height: 40px;
        background-color: var(--doricWhitefull);
    }

    .list-image {
        padding-right: 30px;
        width: 32px;
        height: 42px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../../images/workspace_premium.svg);
        color: black;
    }

    #sobre-nos {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #d9d9d960;
        gap: 20px;
        padding: 1rem;
    }

    #texts {
        display: flex;
        flex-direction: column;
        gap: .2rem;
        justify-content: center;
        align-items: start;
    }

    #texts h1 {
        font-size: var(--title-size);
        color: var(--green);
    }

    #texts p {
        font-size: 20px;
        color: black;
        text-align: justify;
        text-justify: distribute;
    }


    /*Outro*/
    .carousel-container {
        width: 100%;
        max-width: 800px;
        margin: 50px auto;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }

    .carousel {
        position: relative;
        width: 100%;
        height: 500px;
    }

    .carousel__slide {
        display: none;
        width: 100%;
        height: 100%;
    }

    .carousel__slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .carousel__slide.active {
        display: block;
    }

    .carousel__prev,
    .carousel__next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        border: none;
        color: white;
        font-size: 24px;
        padding: 10px 15px;
        cursor: pointer;
        z-index: 10;
        border-radius: 5px;
    }

    .carousel__prev {
        left: 10px;
    }

    .carousel__next {
        right: 10px;
    }

    #depoimentos {
        display: flex;
        padding: 60px 100px 60px 100px;
        gap: 100px;
        text-align: center;
        background-color: #d9d9d990;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #depoimentos h1 {
        font-size: var(--title-size);
        color: var(--green);
    }

    #depoimentos-a {
        display: flex;
        width: 100%;
        height: 90px;
        background-color: var(--green);
        justify-content: center;
        align-items: center;
        color: var(--text-light);
        font-size: 30px;
        border-radius: 20px;
    }

    #contato {
        display: flex;
        padding: 1rem;
        background-color: #d9d9d9BB;
        justify-content: space-between;
        align-items: center;
    }

    #contato h1 {
        font-size: 25px;
        color: var(--green);
    }

    #contato a {
        margin-left: 1rem;
    }

    .contato-text {
        display: flex;
        margin-top: 15px;
        justify-content: start;
        align-items: start;
    }

    .contato-text img {
        height: auto;
        width: 20px;
        margin-top: 8px;
    }

    .contato-text p {
        font-size: 15px;
        color: var(--text-dark);
    }

    iframe {
        width: 30%;
        height: auto;
    }

    footer {
        width: 100%;
        background-color: var(--green);
        padding: 1rem;
    }

    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .footer-image {
        width: 150px;
        height: auto;
    }

    .footer-image img {
        width: 100%;
        height: 100%;
    }

    .footer-text {
        display: flex;
        justify-content: center;
        width: 200px;
        height: auto;
    }

    .footer-text p {
        color: var(--text-dark);
        font-size: auto;
    }

    .footer-whatsapp {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: auto;
    }

    .footer-whatsapp a {
        width: auto;
        height: 100%;
    }

    .footer-whatsapp a img {
        width: auto;
        height: 100%;
    }
}